.ciia-first-card{
	width: 100% !important;
	height: 210px;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
.ciia-first-card:hover{
	text-decoration: none !important;
	/*color: red !important;*/
}
.ciia-first-card .icon{
	display: block;
    margin: 0px auto;
    font-size: 7em !important;
    line-height: unset !important;
}
.ciia-first-card h5{
    font-size: 2em;
    padding-top: 30px;
    text-transform: uppercase !important;
}
.ciia-card{
	width: 100% !important;
	height: 210px !important;
	color: #212529;
}
.ciia-card:hover{
	text-decoration: none !important;
	/*color: red !important;*/
}
.ciia-card a{
	text-decoration: none !important;
	text-transform: none !important;
}
.ciia-card h2:hover{
	color: #0056b3 !important;
}
.ciia-card .header{
	margin: 0 !important;
}
.ciia-card .description{
	text-align: center !important;
	width: 100% !important;
	margin-top: 0 !important;
	margin-bottom: .5em !important;
	padding-top: 15px;
}
.ciia-card .description .btn-visualizar{
	border: 2px solid #007bff;
	padding: 5px 40px;
	border-radius: 10px;
	color: #007bff;
}
.ciia-card .description .btn-visualizar:hover{
	border: 2px solid #0056B3;
	color: #fff !important;
	background-color: #007bff;
}
.ciia-card .description .icon{
	font-size: 1em !important;
}
.ciia-card .info{
	text-align: center !important;
	border-top: 1px solid #303030;
	padding-top: 5px;
}
.ciia-card .info .grid{
	margin-top: 0 !important;
}
.ciia-card .info .grid .column{
	box-shadow: none !important;
}
.ciia-card .info .icon{
	display: block !important;
	margin: 0px auto !important;
	width: 30px;
	height: 30px;
}
.ciia-card .info .icon:hover{
	width: 30px;
	height: 30px;
}
.ciia-card .info .column{
	padding: 0 !important;
}